<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><a href="/register">change the password</a></h2>
    <h1>login</h1>
    <form id="login" action="/change-password" method="post">
      <input type="text" name="username" placeholder="name" >
      <input type="password"  name="password" placeholder="password" >
      <input type="password"  name="newpassword"  placeholder="password" >
      <button type="submit" id="password" name="button">submit</button>
  </form>


  </body>
</html>
